# NativeScript
hooks/
!hooks/after-createProject/*.js
node_modules/
platforms/

# NativeScript Template
!webpack.config.js
*.css

# Build Artifacts
*.js.map
app/components/*.vue.js
app/default-objects/*.js
app/interfaces/*.js
app/inverted/*.js
app/retro/*.js
app/standard/*.js
app/utils/*.js
app/main.js
app/vue-extend.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ
*.iml
*.ipr
*.iws
/assets/alttp_vt_randomizer-31.0.4/

# Artifacts
*.aab
*.apk
*.jar

#Keystore
*.keystore
