$standard-bg: darkgreen;
$standard-border: #004c00;
$standard-btn-border: #003900;

$danger-bg: darkred;
$danger-border: #740000;
$danger-btn-border: #5e0000;

$empty-bg: #868585;
$empty-border: #616161;
$empty-btn-border: #4c4c4c;

$highlight-bg:forestgreen;
$highlight-border: #175c17;
$highlight-btn-border: #124912;

$standard-font-color:#ffffff;

$font-ganon: "Return of Ganon", "ReturnofGanon", serif;
