@import "~@nativescript/theme/core";
@import "~@nativescript/theme/forest";
@import "global_vars";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
Button:active{
  color:$clicked-font-color;
  border-width:4;
}
.btn {
  font-size: 20;
  padding: 10;
  color: $standard-font-color;
  horizontal-align: center;
  vertical-align: center;
  font-family: $font-ganon;
  width: 100%;
  border-width: 2;
  background-color: $standard-border;
  border-color: $standard-btn-border;
  &.standard {
    background-color: $standard-border;
    border-color: $standard-btn-border;
    color: $standard-font-color;
  }
  &.danger {
    background-color: $danger-border;
    border-color: $danger-btn-border;
    color: $standard-font-color;
  }
  &.empty {
    background-color: $empty-border;
    border-color: $empty-btn-border;
    color: $standard-font-color;
  }
  &.highlight {
    background-color: $highlight-border;
    border-color: $highlight-btn-border;
    color: $standard-font-color;
  }
  &.ugly {
    background-color: $ugly-border;
    border-color: $ugly-btn-border;
    color: $standard-font-color;
  }
  &.padded {
    width:90%;
    magin-top:5;
  }
}

.lbl {
  font-size: 20;
  font-family: $font-ganon;
  color: $standard-font-color;
}


.modal-dialog {
  background-color: $standard-bg;
  border-width: 2px;
  border-color: $standard-border;
  padding: 10;
  color: $standard-font-color;
  font-family: $font-ganon;
  font-size: 20;
  &.standard {
    background-color: $standard-bg;
    border-color: $standard-border;
  }
  &.danger {
    background-color: $danger-bg;
    border-color: $danger-border;
  }
}

.save-wrapper {
  font-size: 20;
  margin: 4;
  padding: 10;
  color: white;
  border-width: 2;
  border-color: $standard-border;
  vertical-align: top;
  font-family: $font-ganon;
  background-color: $standard-bg;
  &.danger {
    background-color: $danger-bg;
    border-color: $danger-border;
  }
  &.empty {
    background-color: $empty-bg;
    border-color: $empty-border;
  }
  &.highlight {
    background-color: $highlight-bg;
    border-color: $highlight-border;
  }
}
// Map
.locale-green {
  border-width: 3;
  border-color: black;
  background-color: aqua;
}
.locale-gray {
  border-width: 3;
  border-color: black;
  background-color: gray;
}
.locale-red {
  border-width: 3;
  border-color: black;
  background-color: red;
}
.locale-junk {
  border-width: 3;
  border-color:black;
  background-color: #dede01;
}
.locale-dark {
  border-width: 3;
  border-color: black;
  background-color: #929292;
}
.center-key {
  border-width: 3;
  border-color: black;
  background-color: yellow;
}
// Map Lists
.list-top-header {
  background-color: black;
  font-family: $font-ganon;
  font-size: 18;
  color: $standard-font-color;
  padding-top: 6;
}

.list-title {
  font-family: $font-ganon;
  font-size: 20;
  padding:5;
}

.locale-wrapper {
  background-color: $standard-bg;
  margin:4;
  border-width: 2;
  border-color: $standard-border;
  color: white;
  padding: 4;
  font-family: $font-ganon;
  font-size: 20;
  &.darkred {
    background-color:$danger-bg;
    border-color: $danger-border;
  }
  &.darkgreen {
    background-color: $standard-bg;
    border-color: $standard-border;
  }
  &.gray {
    background-color: $empty-bg;
    border-color: $empty-border;
  }
}

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}
.rog {
    font-family: "Return of Ganon", "ReturnofGanon";
    font-weight: 400;
}
